node_modules
dist
.tmp
.sass-cache
app/bower_components
target
node
etc
node_tmp
.idea
._.DS_Store
.DS_Store
*~
*.iml
*.swp
*.swo
bower_components
*/src/main/resources/public/
log.log
justtest
#*#
hs_err_*.log
 